<h1>Listing Task</h1>

<table>
  <thead>
    <tr>
      <th>Task</th>
      <th>Task item</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @models.each do |model| %>
      <tr>
        <td><%= model.Task %></td>
        <td><%= model.task_item %></td>
        <td><%= link_to 'Show', model %></td>
        <td><%= link_to 'Modify', edit_model_path(model) %></td>
        <td><%= link_to 'Destroy', model, method: :delete, data: { confirm: 'get Done With It already ' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Task', new_model_path %>
